//===== Colors =====//
$theme-color: #001c43;
$secondary-color: #3498db;
$body-color: #000000;
$heading-color: #333333;
$bg-grey: #f5f5f5;
$border-color: #cccccc;
$white:#fff;





//===== Font Family =====//
$body-font: 'Poppins', sans-serif;
$heading-font: 'Poppins', sans-serif;

$placeholder-color:#333;

//===== Line Height =====//
$body-line-height: 26px;
//==== Font size =====//
$body-font-size: 14px;
$h1: 42px;
$h2: 30px;
$h3: 26px;
$h4: 22px;
$h5: 18px;
$h6: 14px;




//===== Social Colors =====//
$facebook : #3B5998;
$twitter : #00ACEE;
$google-plus : #DD4B39;
$pinterest : #C8232C;
$linkedin : #0E76A8;
$flickr : #FF0084;
$dribbble : #EA4C89;
$google : #DD4B39;
$skype : #00AFF0;
$behance : #0057ff;
$youtube : #C4302B;
$vimeo : #86C9EF;
$yahoo : #720E9E;
$paypal : #00588B;
$delicious : #205CC0;
$flattr : #F67C1A;
$android : #A4C639;
$tumblr : #34526F;
$wikipedia : #333333;
$stumbleupon : #F74425;
$foursquare : #25A0CA;
$digg : #191919;
$spotify : #81B71A;
$reddit : #C6C6C6;
$cc : #688527;
$vk : #2B587A;
$rss : #EE802F;
$podcast : #E4B21B;
$dropbox : #3D9AE8;
$github : #171515;
$soundcloud : #FF7700;
$wordpress : #1E8CBE;
$yelp : #C41200;
$scribd : #666666;
$cc-stripe : #008CDD;
$drupal : #27537A;
$get-pocket : #EE4056;
$bitbucket : #0E4984;
$stack-overflow : #EF8236;
$hacker-news : #FF6600;
$xing : #126567;
$instagram : #D82E86;
$quora : #A82400;
$openid : #E16309;
$steam : #111111;
$amazon : #E47911;
$slack : #63C1A0;
$snapchat : #FFFC00;




// Layouts
$extra-device: 'only screen and (min-width: 1600px) and (max-width: 1919px)';
$laptop-device: 'only screen and (min-width: 1200px) and (max-width: 1599px)';
$lg-layout: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-layout:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm-layout:'only screen and (max-width: 767px)';
$large-mobile: 'only screen and (max-width: 575px)';
/* container 450px*/
$small-mobile: 'only screen and (max-width: 479px)';
/* container 300px*/

$overlay-layout:'only screen and (min-width: 478px) and (max-width: 991px)';