/**
 * Brand
 */
.brand-wrapper{
    .brand-left {
        padding-right: 50px;
    }
    .brand-right {
        padding: 0 0px;
        margin: 0 auto;
    }
    ul{
        &.clent-list {
            padding: 0;
            margin: 0;
            align-items:center;
            list-style: none;
            li {
                flex-basis: 50%;
                text-align: center;
                height: 214px;
                line-height: 214px;
                border-top: 1px solid rgba(0,0,0,0.05);

                &:nth-child(5){
                    border-bottom: 1px solid rgba(0,0,0,0.05);
                }
                &:nth-child(6){
                    border-bottom: 1px solid rgba(0,0,0,0.05);
                }
                a{
                    display: block;
                    img{
                        opacity: 0.7;
                        transition: 0.3s;
                        max-height: 110px;
                        max-width: 150px;
                    }
                }
                a:hover{
                    background-color: #fff;
                    transform: scale(1.1);
                    img{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

