/*====================
 Contact Area 
=========================*/



.form-wrapper {
    input {
        color: #3c467c;
        font-size: 18px;
        font-weight: 300;
        border: 0 none;
        border-bottom: 1px solid #ebebec;
        padding: 0;
        height: 50px;
    }
    textarea {
        color: #3c467c;
        font-size: 18px;
        border: 0 none;
        border-bottom: 1px solid #ebebec;
        margin-top: 40px;
        min-height: 100px;
        margin-bottom: 40px;
    }
    button {
        border: 0 none;
        padding: 0;
        text-transform: uppercase;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        i{
            color: #3c467c;
            font-size: 14px;
            padding-left: 5px;
        }
    }

}
.contact-form {
    margin-top: 70px;
}

.form-wrapper .width-half {
    width: 50%;
    float: left;
}
.form-wrapper .story-btn{
    margin-top: 0;
}
.contact-info p {
    font-size: 12px;
    color: #3c467c;
    opacity: 0.8;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-bottom: 5px
}

.contact-info h6, .contact-info h6 a {
    font-size: 12px;
    font-weight: 600;
    color: #3c467c;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    line-height: 22px;
}
.single-info{
    padding-right: 100px;
    margin-top: 20px
}
.contact-info .section-title{
    margin-bottom: 30px;
}


.form-messege-active.error {
    margin: 30px 0 0 0;
    padding: 15px 20px;
    background: #000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: red;
}
.form-messege-active.success {
    margin: 30px 0 0 0;
    padding: 15px 20px;
    background: #28a745;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: #fff;
}


#googleMap{
    width: 100%;
    height: 700px;
}








