/*=======================
 * Header
========================*/

.overlay-wrapper-open{
    height: 100vh;
    overflow-y: hidden;
}
.header-transparent{
    position: absolute;
    top: 60px;
    left: auto;
    right: auto;
    width: 100%;
    margin: 0 auto;
    z-index: 99;
}


.header-top{
    .menu{
        i{
            color: #ffffff;
            font-size: 40px;
        }
    }
}

    
.header .menu-toggle {
    display: flex;
    align-items: center;
}

.rn-header{
    padding: 0 50px;
    position: relative;
    z-index: 999;
    transition: 0.3;
    &.header-transparent{
        position: fixed;
        left: auto;
        right: auto;
        width: 100%;
        top: 0px;
        z-index: 9999;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &.rn-header--withmenu{
        &.header-transparent{
            position: absolute;
            left: auto;
            right: auto;
            width: 100%;
            top: 30px;
            z-index: 9999;
        }
    }
}
.text-white .mainmenu-wrap .menu-horizontal li a {
    color: #ffffff;
}
.text-white .menu-horizontal li a::after{
    background: #ffffff;
}
.text-white .mainmenu-wrap .purchase-btn button{
    border: 1px solid #ffffff;
    color: #ffffff;
}
/*.menu-section{
    opacity: 0;
}*/
.menu-section {
    background-color: #101010;
    height: 100vh;
    padding-top: 120px;
    position: absolute;
    top: -70px;
    width: 100vw;
    pointer-events: all;
    right: 0;
    z-index: 99;
}
nav.menu-section {
    display: flex;
    justify-content: space-around;
}
/*.menu-open .menu-section {
    background-color: #000;
    height: 100vh;
    padding-top: 120px;
    position: absolute;
    top: -70px;
    width: 50%;
    pointer-events: all;
    right: 0;
    z-index: 99;
}*/
nav ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 2em auto;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 200;
    text-align: left;
    padding: 0 146px;
   
}
nav ul.menu a {
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    text-decoration: none;
    color: #fff !important;
    line-height: 44px;
    width: 100%;
    font-weight: 300;
    font-size: 27px;
}
nav ul.menu li{
    margin: 0;
    display: block;
}
nav{
    .menu{
        li{
            a {
                position: relative;
                -webkit-transition: color 0ms ease .35s;
                transition: color 0ms ease .35s;
                line-height: 70px;
                font-size: 30px;
                .menu-text{
                    color: rgba(255,255,255,0.8);
                    font-size: 30px;
                    line-height: 70px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    transition: 0.3s;
                }

                &:hover .menu-text{
                    color: rgba(255,255,255,1);
                }
                
                .menu-arrow{
                    display: flex;
                    position: relative;
                    overflow: hidden;
                    width: 60px;
                    align-items: center;
                    height: 25px;
                    line-height: 0;
                    transition: width .5s cubic-bezier(.50,0,.20,1.00);
                    margin-left: 15px;
                }
                .menu-arrow-icon{
                    position: absolute;
                    right: 0;
                    width: 0;
                    transition: width .5s cubic-bezier(.50,0,.20,1.00);
                    svg{
                        transition: width .5s cubic-bezier(.50,0,.20,1.00);
                        width: 100% !important;
                    }
                }
                &:hover .menu-arrow-icon{
                    right: auto;
                    left: 0;
                    width: 100%;
                }
                
            }
        }
        
    }
}
.menu.otmb {
    align-items: center;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
}

.menu-toggle a span.open {
    margin-top: 1px;
    position: relative;
    display: inline-block;
}
.menu-toggle.on span.close_menu i {
    padding-left: 17px;
    margin-top: 5px;
    display: inline-block;
}


/* =======================
    menu-horizontal 
===========================*/

.rn-header--5{
    padding: 70px 80px; 
}
.mainmenu-wrap{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .menu-horizontal{
        display: flex;
        justify-content: flex-end;
        margin: 0 -17px;
        li{
            margin: 0 17px;
            a{
                color: #000000;
                font-size: 14px;
                line-height: 24px;
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }
    .purchase-btn{
        padding-left: 40px;
        button{
            display: inline-block;
            padding: 0 26px;
            height: 40px;
            line-height: 39px;
            border: 1px solid #000000;
            border-radius: 3px;
            color: #000000;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            transition: 0.4s ease-in-out;
            &:hover{
                color: #ffffff;
                background: #000000;
                border: 1px solid #000000;
            }
        }
    }
}




/* ======================
Hesder Static With Menu 
===========================*/

.rn-header--withmenu {
    padding: 35px 80px;
    position: relative;

}

.menu-horizontal{
    li{
        a{
            display: inline-block;
            position: relative;
            &::after{
                width: 0;
                height: 1px;
                bottom: 0;
                position: absolute;
                left: auto;
                right: 0;
                z-index: 1;
                -webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
                transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
                background: #000000;
                content: "";
            }
        }
        &:hover{
            a{
                &::after{
                    width: 100%;
                    left: 0;
                    right: auto;
                }
            }
        }
    }
}




.bm-header.rn-header{
    padding-left: 7.5px;
    padding-right: 7.5px;
}


div.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-toggle-inner {
    align-items: center;
    display: flex;
    cursor: pointer;
}
.menu-toggle span.menu-text {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.white-bg .menu-toggle span.menu-text {
    color: #000;
} 
.white-bg .hamburger-wrap span {
    background: #000;
}
.menu-text-wrap {
    position: relative;
    overflow: hidden;
    width: 60px;
    height: 25px;
    text-align: center;
}
span.menu-text.close-text, 
span.menu-text.open-text {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
} 
span.menu-text.open-text {
    transform: translateY(-100%);
}
.open span.menu-text.open-text  {
    transform: translateY(-200%);
}
.open span.menu-text.close-text {
    transform: translateY(-100%);
}

.hamburger-wrap {
    display: inline-block;
    padding-left: 15px;
}
.hamburger-wrap span {
    width: 30px;
    height: 2px;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    display: block;
    background: #ffffff;
}
.menu-toggle .hamburger-wrap .hamburger span {
    transition: .5s;
}
.menu-toggle .hamburger-wrap .hamburger{
    width: 30px;
}
.menu-toggle-inner {
    z-index: 9999;
}
.menu-toggle.open span.menu-text{
    color: #fff;
}
.menu-toggle.open .hamburger-wrap .hamburger span {
    background: #fff;
}

.menu-toggle-inner:hover .hamburger-wrap .hamburger span:nth-child(2){
    width: 70%;
}
.menu-toggle.open .hamburger-wrap .hamburger span:nth-child(1), 
.menu-toggle.open .hamburger-wrap .hamburger span:nth-child(3) {
    width: 0%;
}
.menu-toggle.open .hamburger-wrap .hamburger span:nth-child(2) {
    width: 70%;
}

.color-white .menu-toggle span.menu-text {
    color: #fff;
}
.color-white .hamburger-wrap span {
    background: #fff;
}



















.ovl-menu-section {
    width: 100vw;
    left: 0;
    top: 0;
    background: #333;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    z-index: 999999;
    position: absolute;
}

.ovl-left, .ovl-right {
    width: 50vw;
}

.ovl-right {
    background: #15171b;
    padding: 80px;
    padding-left: 0;
    min-height: 100%;
}

.ovl-left-top {
    display: flex;
    min-height: 60%;
}

.ovl-logo {
    width: 40%;
    padding: 40px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ovl-map {
    width: 60%;
    background-image: url('img/bg/map.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ovl-logo a {
    display: block;
}

.ovl-map img {
    width: 100%;
    height: 100%;
}

.ovl-left-bottom {
    display: flex;
    min-height: 40%;
}

.ovl-social {
    width: 40%;
    padding: 40px;
    background: #001c43;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ovl-quick-info {
    width: 60%;
    background: #000;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.ovl-social ul.social-share {
    margin: 0;
    padding: 0;
}

.ovl-social ul.social-share li\ {}

.ovl-social ul.social-share li {
    list-style: none;
}

li {}

.ovl-social ul.social-share li a {
    color: #fff;
    display: block;
    line-height: 40px;
}

.ovl-quick-info h3.title {
    color: #fff;
    font-size: 20px;
}

.ovl-quick-info p {
    color: #fff;
    opacity: 0.7;
    margin-bottom: 0;
}

.ovl-quick-info p span {
    display: block;
}

.ovl-menu nav ul {
    margin: 0;
    padding: 0;
}

.ovl-menu nav ul li {
    list-style: none;
}

.ovl-menu nav ul li a {
    display: block;
    color: #fff;
    font-size: 2vw;
    line-height: normal;
    padding: 0.5vh 0;
    transition: 0.3s;
    font-weight: 700;
}

.ovl-menu {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    text-align: center;
}



.ovl-map a {
    display: block;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}
.ovl-map a span{
    font-size: 1vw;
    color: #fff;
}
.ovl-map a:before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.8);
    position: absolute;
    z-index: -1;
}
.ovl-map:hover a{
    opacity: 1;
    visibility: visible;
}


.ovl-menu nav ul ul li a {
    font-size: 1vw;
    opacity: 0.7;
    padding: .5vh 0;
}

.ovl-menu .has-hovered li a{
    opacity: 0.4;
}
.ovl-menu .has-hovered li a:hover{
    opacity: 1;
}

.ovl-menu-section{
    opacity: 0;
    visibility: hidden;
}











.header--fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
}

.headroom {
    transition: transform .25s ease-in-out;
    will-change: transform
}

.headroom--pinned {
    transform: translateY(0)
}






.header-top.d-flex.justify-content-between {
    padding: 35px 50px;
}

.rn-header .white .hamburger-wrap span{
  background: #000;
}
.rn-header .white .menu-toggle span.menu-text{
    color: #000;
}

.rn-header .black .hamburger-wrap span{
  background: #fff;
}
.rn-header .black .menu-toggle span.menu-text{
    color: #fff;
}

.rn-header .image .hamburger-wrap span{
  background: #fff;
}
.rn-header .image .menu-toggle span.menu-text{
    color: #fff;
}

.logo {
    position: relative;
}
.logo .black-logo{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
}
.rn-header .white .logo .black-logo{
    opacity: 1;
    visibility: visible;
}
.rn-header .white .logo .white-logo{
    opacity: 0;
    visibility: hidden;
}