
/* ======================
Testimonial Area 
========================*/

.rn-testimonial-area {
    position: relative;
    z-index: 2;
}

.testimonial{
    .content{
        p {
            color: #001c43;
            font-size: 36px;
            line-height: 60px;
            padding: 0 30%;
            position: relative;
            margin-bottom: 34px;
            z-index: 2;
            span{
                position: absolute;
                top: 50%;
                transform: translateY(-50%) translateX(-50%);
                -webkit-transform: translateY(-50%) translateX(-50%);
                -moz-transform: translateY(-50%) translateX(-50%);
                -ms-transform: translateY(-50%) translateX(-50%);
                -o-transform: translateY(-50%) translateX(-50%);
                left: 50%;
                z-index: -1;
            }
        }

        .client-info {
            display: flex;
            justify-content: center;
            align-items: center;
            .info {
                text-align: left;
                padding-left: 30px;
                h6 {
                    color: #001c43;
                    font-weight: 700;
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                span {
                    color: #000000;
                    letter-spacing: 1px;
                    font-weight: 300;
                    font-size: 12px;
                }
            }
        }

    }
}

.testimonial .content .client-info .thumb img {
    border-radius: 100%;
}

/* Custom */

ul.rn-slick-dots {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 50px;
    line-height: 0;
}

ul.rn-slick-dots li {
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: auto 10px;
}

ul.rn-slick-dots {
}

ul.rn-slick-dots li button {
    border: none;
    width: 10px;
    height: 10px;
    padding: 0;
    display: block;
    background: rgba(0,0,0,0.1);
    border-radius: 100%;
    text-indent: -99999999999px;
    transition: 0.3s;
}

ul.rn-slick-dots li button:hover {
    background: rgba(0,0,0,0.5);
}

ul.rn-slick-dots li.slick-active button {
    background: rgba(0,0,0,0.5);
}

main.page-content div div:focus{
    outline: none;
}

.testimonial .content:focus, 
.testimonial .content p:focus {
    outline: none;
}









