/* ====================
Blog Details Area 
=========================*/

.top-banner-wrap {
    background-image: url(img/blog/single/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 70vh;
}
.top-banner-wrap .section-title h2, 
.top-banner-wrap .section-title h1, 
.top-banner-wrap .rn-blog-meta .project-type h6,
.top-banner-wrap .rn-blog-meta .project-type p{
    color: #fff;
}

.top-banner-wrap .project-type + .project-type {
    margin-top: 30px;
}













