/* =======================
    Extra
===========================*/

main.page-content div div, footer div{
    position: relative;
    z-index: 2;
}

/** 
 * Image Zoom
 */
.medium-zoom-image,
.medium-zoom-overlay {
    z-index: 9999
}

/** 
 * Cursor
 */
// .cursor {
//     position: fixed;
//     width: 30px;
//     height: 30px;
//     margin-top: -14px;
//     margin-left: -14px;
//     border: 1.5px solid rgba(0, 28, 67, 0.5);
//     border-radius: 50%;
//     pointer-events: none;
//     opacity: 1;
//     box-sizing: border-box;
//     transform: scale(1);
//     transition: transform .35s ease-out;
//     z-index: 999999999;
// }
// @media screen and (max-width: 1200px){
//     .cursor{
//         display: none
//     }
// }
/** 
 * Page Progress Bar
 */
.rn-page-progress-container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    color: #000;
}

.rn-page-progress-bar {
  height: 2px;
  background: #000;
  width: 0%;
}







.project-type ul {
    margin: 0;
    padding-left: 17px;
}




.videobg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    pointer-events: none;
    z-index: 1;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}




/**  STYLE 10 */
// body::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   background: linear-gradient(left, #96A6BF, #63738C);
//   box-shadow: inset 0 0 1px 1px #5C6670;
// }

// body::-webkit-scrollbar-track {
//   border-radius: 10px;
//   background: #eee;
//   box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3)
// }

// body::-webkit-scrollbar-thumb:hover {
//   background: linear-gradient(left, #8391A6, #536175);
// }


body::-webkit-scrollbar {
    width: 0.85em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #001c43;
  outline: 1px solid #001c43;
}